

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  /* background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; */
  min-width: 160%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

/* .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

form input, form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.stock-list {
  width: 100%;
  max-width: 600px;
}

.stock-list h2 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.stock-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stock-list p {
  text-align: center;
  color: #999;
}

.stock-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
}

.stock-list li:hover {
  background-color: #f1f1f1;
}

ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  max-width: 600px; /* Max width for the list container */
  margin: 0 auto; /* Center the list container */
}

.stock-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff; /* White background for list items */
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  display: flex; /* Use flexbox for better layout */
  flex-direction: column; /* Column layout for item details */
  align-items: flex-start; /* Align items to the start of the flex container */
}

.stock-item p {
  margin: 5px 0;
  word-wrap: break-word; /* Ensure long words break correctly */
}
.profit {
  color: green;
}

.loss {
  color: red;
}

  